# Add files here to ignore them from prettier formatting

/dist
/coverage
/node_modules
/public
/.yarn
/.docusaurus/
/apps/www/node_modules
/apps/www/public
/apps/www/.cache

/apps/gatsby-theme-minimal/node_modules
/apps/gatsby-theme-minimal/public
/apps/gatsby-theme-minimal/.cache
